<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0135414 0.0198323 -0.00531129" rpy="3.08952 -3.13329 3.13319" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0135414 0.0198323 -0.00531129   -0.0260178 -0.00425814 -0.00409387 0.999644 depth_cam_link camera_link" />
</launch>
