<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find testbed_bravo_control)/config/testbed_bravo_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="bravo/arm_position_controller testbed/joint_trajectory_controller testbed/joint_states "/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/testbed/joint_states" />
  </node>

</launch>